# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.env

# Virtual environment
env/
venv/
.venv/

# Django
db.sqlite3
staticfiles/
media/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Electron / Node
node_modules/
